* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
	display: flex;
	justify-content: space-between;
	
}
.gmrmenu {
	display: flex;
	font-size: 24px;
	cursor: pointer;
	order: 1;
}
.nav {
	display: flex;
	gap: 20px;
}
.nav {
    position: fixed;
    top: -100%;     
    left: 0;
    width: 100%;
    height: 300px;
    transition: top 0.3s ease;
    flex-direction: column;
    z-index: 1000;
    gap: 15px;
   
   }

.nav.active {
    top: 0;
}

.nav a {
    padding: 10px;
}
